/* FailureView */

/* -----> Desktop View <----- */
@media screen and (min-width: 767px) {
  .failure-view-component {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .something-went-wrong-image {
    width: 560px;
    height: 274px;
    flex-shrink: 0;
  }

  .failure-description {
    color: #262626;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
    /* 150% */
  }

  .try-again-button {
    display: flex;
    padding: 12px 32px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: #4094ef;
    color: var(--light-base-white, #fff);
    /* Action / Button / Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
    border: none;
    outline: none;
    cursor: pointer;
  }
}

/* -----> Mobile View <----- */
@media screen and (max-width: 767px) {
  .failure-view-component {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .something-went-wrong-image {
    width: 259.999px;
    height: 127px;
    flex-shrink: 0;
  }

  .failure-description {
    color: #262626;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
  }

  .try-again-button {
    display: flex;
    padding: 8px 24px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    border-radius: 12px;
    background: #4094ef;
    color: var(--light-base-white, #fff);
    /* Action / Button / Small */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
    border: none;
    outline: none;
    cursor: pointer;
  }
}
